* {
    margin: 0;
    padding: 0;
}

html,
body,
.main {
    height: 100%;
    background: url(../img/background.png);
    background-size: cover;

}

#loginForm {
    display:inline-block;
    margin-top: auto;
    margin-bottom: auto;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}


#rectangle {

    border-radius: 10%;
    padding: 1em;
    width: 20em;
    background: #fdcdd4;
    background: #fdcdd4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

#logo {
    height: 100px;
    background: url("../img/logo.png") no-repeat center center;
    overflow: hidden;
}

#confirm {
    margin-top: 1em;
    width: 51px;
    height: 50px;
    background: transparent url("../img/lapka.png") no-repeat 50% 50%;
    border: none;
}

button span {
    display: none;
}


h3, a {
    color: #808085;

}

a {
    align-self: center;
    margin-top: 10px;
}

.form-group {
    padding: 1em;

}

.form-group input {
    margin-top: 1em;
}


img {
    display: block;
}

.g-recaptcha {
    transform:scale(0.85);
    transform-origin:0 0;
}